.DS_*
.vscode*
bin/*.pyc
lib/splunklib/*.pyc
lib/splunklib/searchcommands/__init__.pyc
lib/splunklib/__init__.pyc
lib/splunklib/binding.pyc
lib/splunklib/client.pyc
lib/splunklib/data.pyc
lib/splunklib/six.pyc
lib/splunklib/searchcommands/decorators.pyc
lib/splunklib/searchcommands/environment.pyc
lib/splunklib/searchcommands/eventing_command.pyc
lib/splunklib/searchcommands/external_search_command.pyc
lib/splunklib/searchcommands/generating_command.pyc
lib/splunklib/searchcommands/internals.pyc
lib/splunklib/searchcommands/reporting_command.pyc
lib/splunklib/searchcommands/search_command.pyc
lib/splunklib/searchcommands/streaming_command.pyc
lib/splunklib/searchcommands/validators.pyc
